body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#staff {
    position: relative;
    width: 600px;
    height: 200px;
    border: 0px solid black;
    margin: 20px 0;
}

.staff-line {
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
}

.staff-line:nth-child(1) { top: 0; }
.staff-line:nth-child(2) { top: 20px; }
.staff-line:nth-child(3) { top: 40px; }
.staff-line:nth-child(4) { top: 60px; }
.staff-line:nth-child(5) { top: 80px; }

.staff-line:nth-child(6) { top: 160px; }
.staff-line:nth-child(7) { top: 180px; }
.staff-line:nth-child(8) { top: 200px; }
.staff-line:nth-child(9) { top: 220px; }
.staff-line:nth-child(10) { top: 240px; }

.line {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
}

.line:nth-child(1) { top: 20px; }
.line:nth-child(2) { top: 40px; }
.line:nth-child(3) { top: 60px; }
.line:nth-child(4) { top: 80px; }
.line:nth-child(5) { top: 100px; }

.line:nth-child(6) { top: 160px; }
.line:nth-child(7) { top: 180px; }
.line:nth-child(8) { top: 200px; }
.line:nth-child(9) { top: 220px; }
.line:nth-child(10) { top: 240px; }

#noteDisplay {
    position: absolute;
    font-size: 40px;
    top: 70px;
    left: 50px;
}

.note-display {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    transition: top 0.5s; 
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-row {
    display: flex;
    gap: 10px; 
    
}

button {
    width: 50px; 
    height: 50px; 
    font-size: 16px; 
    text-align: center;
    padding: 0;
}

.note-button {
    width: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    padding: 0;
    transition: background-color 0.3s ease;
}

.note-button.correct {
    background-color: green;
    color: white;
}

.note-button.wrong {
    background-color: red;
    color: white;
}

.spacer {
    height: 80px;
}